

@{  
   ViewBag.Title = "Google Map API V3 for Calculating distance with MVC4 Razor";  
 }  
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=3&key=ABQIAAAA7j_Q-rshuWkc8HyFI4V2HxQYPm-xtd00hTQOC0OXpAMO40FHAxT29dNBGfxqMPq5zwdeiDSHEPL89A"></script>
 <h3>Google Map API V3 for Calculating distance with MVC4 Razor</h3> 
<br />
<p>
        <input type="text" id="address1" name="address1" value="Chennai" class="address_input" size="40" />
        <input type="text" id="address2" name="address2" value="Namakkal" class="address_input" size="40" />
        <input type="submit" name="find" value="Search" onclick="showLocation(); return false;"/>
      </p>

<div id="results"></div>

<div style="float:right;width:200px;visibility:hidden;">
    <label id="lbltitlelan">Latitude : </label> &nbsp; <input type="text" style="width:50px;" id="txtlat" />&nbsp;<label id="lbltitlelon">Longitude :</label> &nbsp; <input type="text" style="width:50px;" id="txtlon" />
</div>



