

@{  
   ViewBag.Title = "Google Map API V3 for Calculating distance with MVC4 Razor";  
 }  
 <h3>Google Map API V3 for Calculating distance with MVC4 Razor</h3> 
<br />
<p>
        <input type="text" id="address1" name="address1" value="Chennai" class="address_input" size="40" />
        <input type="text" id="address2" name="address2" value="Namakkal" class="address_input" size="40" />
        <input type="submit" name="find" value="Search" onclick="showLocation(); return false;"/>
      </p>

<div id="results"></div>



