

 @{  
   ViewBag.Title = "Google Map API V3 with MVC4 Razor";  
 }  
 <h3>Google Maps Demo using MVC 4</h3> 
<br />
<input type="text" id="txtAddress" value="Chennai" /> &nbsp;&nbsp;
<input type="button" id="btnsearchMap" value="Go" onclick="GetMapAddress();"/> 
<div style="float:right;width:200px;">
    <label id="lbltitlelan">Latitude : </label> &nbsp; <input type="text" style="width:50px;" id="txtlat" />&nbsp;<label id="lbltitlelon">Longitude :</label> &nbsp; <input type="text" style="width:50px;" id="txtlon" />
</div>
 <br />  
<div style="width:100%;">
    <div id="map_canvas" style="width: 640px; height: 480px;">       
    </div>
   
 </div>  
